
div.runningContainer {
    width: 300px;
    height: 300px;
}

div.ground {
    position: absolute;
    margin-top: 180px;
    height: 120px;
    width: 300px;
    background-color: black;
    z-index: 10;
}

div.hole {
    position: absolute;
    margin-top: 90px;
    height: 120px;
    width: 120px;
    border-radius: 60px;
    background-color: white;
    z-index: 20;
    -webkit-animation-duration: 10s;
    -webkit-animation-name: holeanim;
    -webkit-animation-iteration-count: infinite;
}

div.wheel {
    position: absolute;
    margin-top: 100px;
    margin-left: 110px;
    height: 80px;
    width: 80px;
    border-radius: 40px;
    background-color: blue;
    z-index: 30;
    -webkit-animation-duration: 10s;
    -webkit-animation-name: wheelanim;
    -webkit-animation-iteration-count: infinite;
}

@-webkit-keyframes holeanim {
  from { margin-left: 300px; }
  to { margin-left: -120px; }
}

@-webkit-keyframes wheelanim {
  from { margin-top: 100px; }
  25% { margin-top: 100px; }
  29% { margin-top: 130px; }
  39% { margin-top: 100px; }
  to { margin-top: 100px; }
}

    /*<div class='runningContainer'>  */
    /*  <div class='wheel'></div>     */
    /*  <div class='ground'></div>    */
    /*  <div class='hole'></div>      */
    /*</div>*/
